// Primary Color
$primary-color: #FFFFFF;
// Secondary Color
$secondary-color-ccc: #CCCCCC;
$secondary-color-000: #000000;
$secondary-color-F3B: #F3B616;
// Accent Color
$Accent-color-E99: #E99021;
$Accent-color-EA4: #EA4D38;
$Accent-color-D90: #D90718;
$Accent-color-D93: #D93476;
$Accent-color-2AC: #2AC845;
$Accent-color-10B: #10B639;
$Accent-color-09B: #09B8CE;
$Accent-color-0D8: #0D89C0;
