.navbar {
  position: relative;
  margin: 10px auto;
  padding: 0;
  z-index: 1000;
}
.mobileNav {
  // margin: 0px -21px;
  transform: translateY(-200px);
  transition: all .2s;
  opacity: 0;
}
.openMobileNav {
  opacity: 1;
  transform: translateY(0) !important;
}
@include media-breakpoint-down(lg) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    background-color: $primary-color;
  }
  .mobileNav {
    margin: 0px -21px;
  }
}